@font-face {
  font-family: "iconfont"; /* Project id 4982718 */
  src:
    url("iconfont.woff2?t=1768680973411") format("woff2"),
    url("iconfont.woff?t=1768680973411") format("woff"),
    url("iconfont.ttf?t=1768680973411") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-avatar:before {
  content: "\ebd4";
}

.icon-group:before {
  content: "\ebd5";
}

.icon-customer:before {
  content: "\ebd6";
}

.icon-user:before {
  content: "\ebd7";
}

.icon-video:before {
  content: "\eb90";
}

.icon-cs:before {
  content: "\eb63";
}

.icon-brightness:before {
  content: "\eb67";
}

.icon-contrast:before {
  content: "\eb68";
}

.icon-face:before {
  content: "\eb69";
}

.icon-link:before {
  content: "\eb6a";
}

.icon-flash:before {
  content: "\eb6b";
}

.icon-key:before {
  content: "\eb6d";
}

.icon-voice:before {
  content: "\eb86";
}

.icon-safe:before {
  content: "\eb8a";
}

.icon-code:before {
  content: "\eb8b";
}

.icon-info:before {
  content: "\eb8c";
}

.icon-task:before {
  content: "\eb8d";
}

.icon-graphics:before {
  content: "\eb8e";
}

.icon-add-list:before {
  content: "\eb8f";
}

.icon-save:before {
  content: "\eb47";
}

.icon-label:before {
  content: "\eb4b";
}

.icon-pin:before {
  content: "\eb4c";
}

.icon-cancel:before {
  content: "\eb84";
}

.icon-list:before {
  content: "\eb85";
}

.icon-wallet:before {
  content: "\ebc3";
}

.icon-bill-empty:before {
  content: "\ebc4";
}

.icon-bill-new:before {
  content: "\ebc5";
}

.icon-bill-complete:before {
  content: "\ebc6";
}

.icon-sign-in:before {
  content: "\ebc7";
}

.icon-car:before {
  content: "\ebc8";
}

.icon-truck:before {
  content: "\ebcf";
}

.icon-pack:before {
  content: "\ebd0";
}

.icon-shop:before {
  content: "\ebd1";
}

.icon-logout:before {
  content: "\ebd2";
}

.icon-personal:before {
  content: "\ebd3";
}

.icon-print:before {
  content: "\eb48";
}

.icon-edit:before {
  content: "\eb49";
}

.icon-laptop:before {
  content: "\eb4a";
}

.icon-copy:before {
  content: "\eb4e";
}

.icon-lock:before {
  content: "\eb50";
}

.icon-vs:before {
  content: "\eb5e";
}

.icon-bag:before {
  content: "\eb60";
}

.icon-gift:before {
  content: "\eb65";
}

.icon-en:before {
  content: "\eb6c";
}

.icon-theme:before {
  content: "\eb6e";
}

.icon-wand:before {
  content: "\eb6f";
}

.icon-diamond:before {
  content: "\eb70";
}

.icon-cn:before {
  content: "\eb71";
}

.icon-help:before {
  content: "\eb72";
}

.icon-tiers:before {
  content: "\eb73";
}

.icon-navigate:before {
  content: "\eb74";
}

.icon-correct:before {
  content: "\eb75";
}

.icon-android:before {
  content: "\eb76";
}

.icon-incorrect:before {
  content: "\eb77";
}

.icon-table:before {
  content: "\eb78";
}

.icon-about:before {
  content: "\eb79";
}

.icon-plus:before {
  content: "\eb7a";
}

.icon-equal:before {
  content: "\eb7b";
}

.icon-minus:before {
  content: "\eb7c";
}

.icon-switch:before {
  content: "\eb7d";
}

.icon-refresh:before {
  content: "\eb7e";
}

.icon-disable:before {
  content: "\eb7f";
}

.icon-setting:before {
  content: "\eb80";
}

.icon-scan:before {
  content: "\eb81";
}

.icon-home:before {
  content: "\eb82";
}

.icon-delete:before {
  content: "\eb83";
}

.icon-frame:before {
  content: "\eb87";
}

.icon-more:before {
  content: "\eb88";
}

.icon-app:before {
  content: "\eb89";
}

.icon-full-screen:before {
  content: "\eb99";
}

.icon-shield:before {
  content: "\eb9f";
}

.icon-currency-flow:before {
  content: "\eba0";
}

.icon-loan:before {
  content: "\eba1";
}

.icon-calculator:before {
  content: "\eba2";
}

.icon-finance:before {
  content: "\eba3";
}

.icon-dollar:before {
  content: "\eba4";
}

.icon-cny:before {
  content: "\eba5";
}

.icon-cancel-bill:before {
  content: "\eba6";
}

.icon-bank-card:before {
  content: "\eba7";
}

.icon-praise:before {
  content: "\eba8";
}

.icon-tread:before {
  content: "\eba9";
}

.icon-smile:before {
  content: "\ebaa";
}

.icon-grow:before {
  content: "\ebab";
}

.icon-message:before {
  content: "\ebac";
}

.icon-sad:before {
  content: "\ebad";
}

.icon-share:before {
  content: "\ebae";
}

.icon-collect:before {
  content: "\ebaf";
}

.icon-wang:before {
  content: "\ebb0";
}

.icon-favorite:before {
  content: "\ebb1";
}

.icon-calendar:before {
  content: "\ebb2";
}

.icon-tree:before {
  content: "\ebb3";
}

.icon-polyline:before {
  content: "\ebb4";
}

.icon-cloud:before {
  content: "\ebb5";
}

.icon-upload:before {
  content: "\ebb6";
}

.icon-download:before {
  content: "\ebb7";
}

.icon-pie:before {
  content: "\ebb8";
}

.icon-columnar:before {
  content: "\ebb9";
}

.icon-package:before {
  content: "\ebba";
}

.icon-package-collection:before {
  content: "\ebbb";
}

.icon-package-move:before {
  content: "\ebbc";
}

.icon-location:before {
  content: "\ebbd";
}

.icon-earth:before {
  content: "\ebbe";
}

.icon-sorting:before {
  content: "\ebbf";
}

.icon-service:before {
  content: "\ebc0";
}

.icon-cart:before {
  content: "\ebc1";
}

.icon-customs:before {
  content: "\ebc2";
}

.icon-msg:before {
  content: "\ebc9";
}

.icon-news:before {
  content: "\ebca";
}

.icon-email:before {
  content: "\ebcb";
}

.icon-notice:before {
  content: "\ebcc";
}

.icon-eye:before {
  content: "\ebcd";
}

.icon-eye-close:before {
  content: "\ebce";
}
