node_modules/_*
build/
src/
static/
public/
.*
config/
dist/
index.html
.env.development
.eslintrc.cjs
.gitignore
.prettierrc.json
env.d.ts
eslint.config.ts
package-lock.json
tsconfig.app.json
tsconfig.json
tsconfig.node.json
tsconfig.vitest.json
vite.config.ts